POSTGRES_USER=ecom_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=ecommerce
POSTGRES_HOST=localhost
# Host port that maps to the container's 5432 (use 5434 if 5432 is already taken)
POSTGRES_PORT=5434

# Airflow
AIRFLOW_SECRET_KEY=xddfgg
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=5778
AWS_ACCESS_KEY_ID=456778
AWS_SECRET_ACCESS_KEY=ghjkk
AWS_REGION=ap-southeast-2
S3_BUCKET=ecom-pipeline